.u-section-1 .u-sheet-1 {
  min-height: 1064px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 1064px;
  margin: -7px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -966px 22px 0 605px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: -43px -21px 0 952px;
}

.u-section-1 .u-image-2 {
  width: 254px;
  height: 254px;
  margin: 15px 161px 0 auto;
}

.u-section-1 .u-group-elements-1 {
  width: 454px;
  min-height: 317px;
  height: auto;
  margin: 100px 38px 60px auto;
}

.u-section-1 .u-group-elements-2 {
  min-height: 41px;
  height: auto;
  width: 456px;
  margin: 24px auto 0 -2px;
}

.u-section-1 .u-icon-1 {
  width: 41px;
  height: 41px;
  margin: 0 411px 0 4px;
  padding: 1px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: -37px auto 0 0;
}

.u-section-1 .u-group-elements-3 {
  width: 436px;
  min-height: 48px;
  height: auto;
  margin: 40px auto 0 9px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  width: 314px;
  margin: 0 122px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  letter-spacing: 2px;
  margin: -48px 0 0 66px;
}

.u-section-1 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  font-size: 1.875rem;
  letter-spacing: 2px;
  margin: 26px 139px 0 7px;
  padding: 0;
}

.u-section-1 .u-group-elements-4 {
  width: 402px;
  min-height: 72px;
  height: auto;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0 0 0 71px;
}

.u-section-1 .u-icon-4 {
  width: 56px;
  height: 56px;
  margin: -64px 346px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 877px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -779px;
    margin-right: 122px;
    margin-left: 599px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 79px;
    margin-left: 852px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 261px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1455px;
  }

  .u-section-1 .u-image-1 {
    width: 607px;
    height: 636px;
    margin-top: 85px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-right: 93px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -684px;
    margin-right: 189px;
    margin-left: 742px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 263px;
    margin-right: auto;
    margin-left: 183px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 461px;
    min-height: 340px;
    margin-top: -41px;
    margin-right: 248px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 69px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 23px;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: 17px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 566px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 322px;
    margin-left: 587px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 279px;
    margin-left: 652px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 461px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-image-1 {
    width: 293px;
    height: 418px;
    margin-top: 44px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 34px;
    margin-right: 44px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-1 .u-image-2 {
    width: 205px;
    height: 205px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-1 {
    width: 433px;
    min-height: 233px;
    margin-top: 34px;
    margin-right: -105px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 362px;
    margin-top: -7px;
    margin-left: 16px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -28px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-group-elements-3 {
    width: 422px;
    min-height: 46px;
    margin-top: 20px;
    margin-left: 11px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 46px;
    width: 304px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1.5rem;
    margin-top: -34px;
    margin-left: 52px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 18px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-elements-4 {
    width: 283px;
    min-height: 58px;
    margin-top: 10px;
    margin-bottom: -18px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: auto;
    margin-left: 74px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -58px;
    margin-right: auto;
  }
} .u-section-2 {
  min-height: 1400px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 163px;
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 42px auto 0;
}

.u-section-2 .u-image-1 {
  width: 477px;
  height: 407px;
  margin: 12px 0 0 auto;
}

.u-section-2 .u-text-2 {
  margin: -378px auto 0 calc(((100% - 1140px) / 2)  + 203px);
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 15px auto 0 calc(((100% - 1140px) / 2)  + 87px);
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 49px 213px 0 calc(((100% - 1140px) / 2)  + 514px);
}

.u-section-2 .u-image-2 {
  width: 261px;
  height: 299px;
  margin: -91px auto 0 calc(((100% - 1140px) / 2)  + 38px);
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  margin: -171px calc(((100% - 1140px) / 2)  + 58px) 0 calc(((100% - 1140px) / 2)  + 349px);
}

.u-section-2 .u-image-3 {
  width: 392px;
  height: 431px;
  margin: 12px calc(((100% - 1140px) / 2)  + 43px) 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: -379px calc(((100% - 1140px) / 2)  + -14px) 0 calc(((100% - 1140px) / 2)  + 189px);
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 14px calc(((100% - 1140px) / 2)  + 383px) 60px calc(((100% - 1140px) / 2)  + 74px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2)  + 216px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2)  + 100px);
  }

  .u-section-2 .u-text-3 {
    margin-top: 14px;
    margin-left: calc(((100% - 940px) / 2)  + 74px);
  }

  .u-section-2 .u-text-4 {
    margin-top: 36px;
    margin-right: 266px;
    margin-left: calc(((100% - 940px) / 2)  + 551px);
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2)  + 184px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2)  + 327px);
    margin-left: calc(((100% - 940px) / 2)  + 457px);
  }

  .u-section-2 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + 133px);
  }

  .u-section-2 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2)  + 100px);
    margin-right: calc(((100% - 940px) / 2)  + 100px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2)  + 357px);
    margin-left: calc(((100% - 940px) / 2)  + 100px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1881px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    width: 297px;
    height: 520px;
    margin-top: 83px;
    margin-right: calc(((100% - 720px) / 2)  + -30px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -543px;
    margin-left: calc(((100% - 720px) / 2)  + 139px);
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-right: calc(((100% - 720px) / 2)  + 217px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 50px;
    margin-right: 97px;
    margin-left: calc(((100% - 720px) / 2)  + 210px);
  }

  .u-section-2 .u-image-2 {
    margin-top: 27px;
    margin-left: calc(((100% - 720px) / 2)  + -23px);
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -283px;
    margin-right: calc(((100% - 720px) / 2)  + 66px);
    margin-left: calc(((100% - 720px) / 2)  + 252px);
  }

  .u-section-2 .u-image-3 {
    width: 303px;
    height: 333px;
    margin-top: 157px;
    margin-right: calc(((100% - 720px) / 2)  + -33px);
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -406px;
    margin-right: calc(((100% - 720px) / 2)  + 229px);
    margin-left: calc(((100% - 720px) / 2)  + 192px);
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 33px;
    margin-right: calc(((100% - 720px) / 2)  + 247px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-top: 4957px;
    margin-left: calc(((100% - 540px) / 2)  + 423px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -5347px;
    margin-right: 300px;
    margin-left: calc(((100% - 540px) / 2)  + 274px);
  }

  .u-section-2 .u-text-4 {
    font-size: 3.375rem;
    margin-top: 76px;
    margin-right: 412px;
    margin-left: calc(((100% - 540px) / 2)  + 559px);
  }

  .u-section-2 .u-image-2 {
    margin-top: -91px;
    margin-right: calc(((100% - 540px) / 2)  + -105px);
    margin-left: calc(((100% - 540px) / 2) + -23px);
  }

  .u-section-2 .u-text-5 {
    margin-top: -171px;
    margin-right: calc(((100% - 540px) / 2)  + 35px);
    margin-left: calc(((100% - 540px) / 2)  + 505px);
  }

  .u-section-2 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + -33px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-top: -379px;
    margin-right: calc(((100% - 540px) / 2)  + 240px);
    margin-left: calc(((100% - 540px) / 2)  + 300px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2)  + 240px);
    margin-left: calc(((100% - 540px) / 2)  + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1334px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 117px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: -66px;
    margin-left: 40px;
  }

  .u-section-2 .u-image-1 {
    width: 226px;
    height: 131px;
    margin-top: 9px;
    margin-right: calc(((100% - 340px) / 2)  + -31px);
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -117px;
    margin-left: calc(((100% - 340px) / 2)  + 37px);
  }

  .u-section-2 .u-text-3 {
    width: 323px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.8125rem;
    width: 306px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    width: 90px;
    height: 184px;
    margin-top: 19px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-top: -188px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 109px);
  }

  .u-section-2 .u-image-3 {
    width: 78px;
    height: 285px;
    margin-top: -13px;
    margin-right: calc(((100% - 340px) / 2)  + 29px);
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: -255px;
    margin-right: calc(((100% - 340px) / 2)  + 106px);
    margin-left: calc(((100% - 340px) / 2)  + 29px);
  }

  .u-section-2 .u-text-7 {
    margin-top: 10px;
    margin-right: calc(((100% - 340px) / 2)  + 93px);
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  min-height: 1027px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1155px;
}

.u-section-3 .u-shape-1 {
  height: 228px;
  width: 1151px;
  margin: 0 -11px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: -167px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 348px;
  width: 1151px;
  margin: 111px -11px 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  --gap: 40px;
  grid-template-columns: repeat(3, auto);
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-2 {
  height: 349px;
  width: 1151px;
  margin: 74px -11px 60px auto;
}

.u-section-3 .u-gallery-inner-2 {
  --gap: 52px;
  grid-template-columns: repeat(3, auto);
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 899px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-3 .u-shape-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 940px;
    margin-right: 0;
    height: 284px;
  }

  .u-section-3 .u-gallery-2 {
    height: 285px;
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2183px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 154px;
    height: 337px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-2 {
    height: 378px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 3401px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 2051px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    height: 759px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-gallery-2 {
    height: 850px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: auto;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-3 .u-shape-1 {
    height: 83px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -62px;
    margin-right: 16px;
    margin-left: 66px;
  }

  .u-section-3 .u-gallery-1 {
    height: 123px;
    width: 290px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-gallery-2 {
    height: 136px;
    width: 298px;
    margin: 38px auto 48px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}.u-section-4 .u-sheet-1 {
  min-height: 852px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 11px auto 0 138px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 3rem;
  margin: 12px auto 0 59px;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.875rem;
  background-image: none;
  margin: 150px auto 0 370px;
  padding: 8px 36px 8px 35px;
}

.u-section-4 .u-btn-2 {
  font-size: 3rem;
  margin: -71px 135px 60px auto;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 170px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -62px;
    margin-right: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.34375rem;
    width: auto;
    margin-top: 17px;
    margin-left: 35px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 21px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 51px;
    margin-left: -8px;
    padding: 0;
  }

  .u-section-4 .u-btn-2 {
    margin: 17px auto 58px 0;
  }
}